

<style>
    .disabled {
        pointer-events: none;
        opacity: 0.5;
        /* optional - to indicate the element is disabled */
    }
</style>

    <section>
        <br><br><br>
        <div class="container">
            <h4 class="py-4 text-center">All Orders</h4>
            <div class="mt-5">
                <table class="table table-striped table-bordered table-responsive mt-5 display" style="padding-top:30px"
                    id="orderTable">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Sl. No.</th>
                            <th class="align-middle" scope="col">Order ID</th>
                            <th class="align-middle" scope="col">Billing Name</th>
                            <th class="align-middle" scope="col">Date</th>
                            <th class="align-middle" scope="col">Total</th>
                            <th class="align-middle" scope="col">Status</th>
                            <th class="align-middle" scope="col">Payment Method</th>
                            <th class="align-middle" scope="col">View Details</th>
                            <th class="align-middle" scope="col">Cancel</th>
                            <th class="align-middle" scope="col">Shipping</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                        <% orders.forEach(function(orders,index) { %>
                        <tr>
                          
                            <td scope="row"> <%=index+1 %></td>
                            <td><a class="fw-bold"><%=orders.orderId %></a></td>
                            <td><%=orders.deleveryDetails.Name %></td>
                            <td>
                                <% const date = new Date(orders.date); %>
                                <%= `${date.getDate().toString().padStart(2, '0')}/${(date.getMonth() + 1).toString().padStart(2, '0')}/${date.getFullYear()}` %>
                              </td>
                              
                            <td>
                                ₹<%=orders.total %>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <span class="badge badge-pill badge-soft-success"><%=orders.status %></span>
                                </div>
                            </td>
                            <td>
                                <i class="material-icons md-payment font-xxl text-muted mr-5"></i>
                             <%=orders.paymentMethod %>
                            </td>
                            <td>
                                <a href="/admin/orderDetails/<%=orders._id %>" class="btn btn-xs">
                                    View details</a>
                            </td>
                          
                            <% if (orders.status=='canceled') { %>
                                <td>
                                    <a href="" class="btn btn-xs disabled" style="background-color: rgb(228, 24, 24);">
                                        Cancelled Order
                                    </a>
                                </td>
                            <% } else if (orders.status==='shipped'||orders.status==='Placed') { %>
                                <td>
                                    <a class="btn btn-danger btn-xs de-btn" data-id="<%=orders._id%>">Cancel</a>
                                </td>
                            <% } else if (orders.status==='delivered'||orders.status==='returned') { %>
                                <td>
                                    <a class="btn btn-s btn-xs disabled">Cancel</a>
                                </td>
                            <% } %>
                            
                            <% if (orders.status==='Placed') { %>
                            
                            <td>
                                <a href="/admin/shipOrder/<%=orders.orderId%>" class=" btn btn-xs "
                                    
                                    style="background-color: rgb(219, 217, 53);">
                                    Ship Order</a>
                            </td>
                           
                            <% } else if (orders.status==='shipped') { %>
                            <td>
                                <a class="btn btn-xs " 
                                 href="/admin/deliverOrder/<%=orders.orderId%>" class=" btn btn-xs "
                                    style=" background-color: rgb(228, 143, 24);">
                                    Deliver Order</a>
                            </td>
                       
                            <% } else if (orders.status==='delivered') { %>
                            <td>
                                <a href="" class="btn btn-xs disabled" style="background-color: rgb(57, 150, 20);">
                                    Order Delivered</a>
                            </td>
                            
                            <% } else if (orders.status==='returned') { %>
                            <td>
                                <a href="" class="btn btn-xs disabled" style="background-color: rgb(199, 72, 82);">
                                    Order Returned</a>
                            </td>
                           
                            <% } else if (orders.status==='canceled') { %>
                                <td>
                                    <a href="" class="btn btn-xs disabled" style="background-color: rgb(228, 24, 24);">
                                        Cancelled Order</a>
                                </td>
                            
                            <% } %>
                        </tr>
                    
                        <% }) %>
                    </tbody>
                </table>

            </div>
        </div>
    </section>

<script>
    const deleteButtons = document.querySelectorAll('.de-btn');
    deleteButtons.forEach(button => {
        button.addEventListener('click', (event) => {
            const productId = event.target.getAttribute('data-id');
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, cancel it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href= `/admin/cancelOrder/${productId}`
                }
            });
        });
    });
</script>
