
<section class="">
    <div class="container d-flex justify-content-center">
      <div class="row w-75 mt-5">
        <div class="col-md-12">
          <h2 class="text-center">Banners</h2>
          <a href ="/admin/add-banner"  style="float: right;" class="btn btn-success">Add Banners</a>
          <form
            
            method="POST"
            enctype="multipart/form-data"
          >
            
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Table section -->
  <section  mx-auto>
    <div class="card-body">
      <div class="row mt-5 mx-auto">
        <div class="table-responsive">
          <div class="table-responsive">
            <table class="table align-middle table-nowrap mb-0">
              <thead class="table-light">
                <tr>
                  <th class="align-middle" scope="col">No:</th>
                  <th class="align-middle" scope="col">Image</th>
                  <th class="align-middle" scope="col">Discription</th>
                  <th class="align-middle" scope="col">option</th>
                </tr>
              </thead>
              <tbody>
                <% response.forEach(function(response,index) { %>
                <tr>
                  <td><%=index+1 %> </td>
                  <td><img src='/uploads/<%= response.Image %>' alt="" style="width:90px;height:100px";></td>
                  <td>
                    <p><%=response.Productname%></p>
                    

                  </td> 
                  <td>
                        <a href ="/admin/edit-banner/<%=response._id %>"  class="btn btn-success">Edit</a>
                 
                        <a href ="/admin/delete-banner/<%=response._id %>" class="btn btn-danger" onclick="deleteAlert()">Delete</a>
                  </td>
    
                 
                </tr>
          <% }) %>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </section>

