<!-- 


<div class="goto-here">


    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 ftco-animate">
            <a href="" class="image-popup">
                        <img src="" id="main_product_image" data-zoom-image='<%=product.Image[0] %>' class="img-fluid" alt="image of dress">
                    </a>
                    
                    <div class="row">
                    <div class='thumbnail_images pt-5 mx-auto'>
                      <ul id='thumbnail' style="list-style: none;">
                        <li class="d-inline-block">
                          <img
                class="product-image"
                            onclick='changeImage(this)'
                            src=''
                            width='50'
                          />
                        </li>
                        <li class="d-inline-block pl-3">
                          <img
              class="product-image"
                            onclick='changeImage(this)'
                            src=''
                            width='50'
                          />
                        </li>
                        <li class="d-inline-block pl-3">
                          <img 
                            onclick='changeImage(this)'
                            src=''
                            width='50'
                          />
                        </li>
                        <li class="d-inline-block pl-3">
                          <img 
              class="product-image"
                            onclick='changeImage(this)'
                            src=''
                            width='50'
                          />
                        </li>
                      </ul>
                    </div>
                    </div>
                  
          </div>
                
          <div class="col-lg-6 product-details pl-md-5 ftco-animate">
            <h3><%=product.Productname %></h3>
            <div class="rating d-flex">
              <p class="text-left mr-4">
                <a href="#" class="mr-2">5.0</a>
                <a href="#"><span class="ion-ios-star-outline"></span></a>
                <a href="#"><span class="ion-ios-star-outline"></span></a>
                <a href="#"><span class="ion-ios-star-outline"></span></a>
                <a href="#"><span class="ion-ios-star-outline"></span></a>
                <a href="#"><span class="ion-ios-star-outline"></span></a>
              </p>
              <p class="text-left mr-4">
                <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
              </p>
              <p class="text-left">
                <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
              </p>
            </div>
                        <span class="status">% Discount</span>
                        <div class="d-flex">
                <div class="pricing">
                  <p class="price"><span class="mr-2 price-dc" style="text-decoration: line-through;color: rgb(79, 79, 79);">Rs.<%=product.Price %></span>
                <span class="price-sale">Rs.</span></p>
                </div>
                        </div>
            <p><%=product.ProductDescription %></p>
            <p></p>
            <div class="row mt-4">
              <div class="col-md-6">
                <div class="form-group d-flex">
                  <div class="select-wrap">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="" id="" class="form-control">
                      <option value="">Small</option>
                      <option value="">Medium</option>
                      <option value="">Large</option>
                      <option value="">Extra Large</option>
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="w-100"></div>
              <div class="input-group col-md-6 d-flex mb-3">
                 <span class="input-group-btn mr-2">
                    <button type="button" class="quantity-minus btn"  data-type="minus" data-field="">
                      <i class="ion-ios-remove"></i>
                    </button>
                </span>
          
          <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                 
          <span class="input-group-btn ml-2">
                    <button type="button" class="quantity-plus btn" data-type="plus" data-field="">
                         <i class="ion-ios-add"></i>
                     </button>
                 </span>
              </div>
              <div class="w-100"></div>
              <div class="col-md-12">
                <p style="color: #000;">80 piece available</p>
              </div>
            </div>
              <p class="pt-4 py-3"><a class="add-to-wishlist btn btn-black py-3 text-white px-5" data-product="<%=product._id %>">Add to Wishlist <span class="icon-heart ml-2"></span></a></p>
      <div class="d-flex">
              <p><a class="add-to-cart btn btn-black py-3 text-white px-5" data-product="">Add to Cart <span class="ion-ios-add ml-2"></span></a></p>
        <p><a href="" class="btn btn-black py-3 text-white px-5 ml-3">Buy Now <span class="icon-shopping_cart ml-2"></span></a></p>
      </div>
          </div>
        </div>
      </div>
    </section>
  
  
  
  </div>
  
  
  
  <script>
  
    function changeImage(element) {
        var main_prodcut_image = document.getElementById('');
        main_prodcut_image.src = element.src;
        $("").data('zoom-image', element.src).elevateZoom({
           responsive: true
        });
    }
    $("").elevateZoom({
        responsive: true
    });
  
  
  </script>
  
  <script>
  
  //plus and minus quantity
  const quantityInput = document.getElementById('quantity');
  let quantityValue = parseInt(quantityInput.value);
  
  quantityInput.addEventListener('input', (event) => {
    quantityValue = event.target.value;
  });
  
  document.querySelector('.quantity-minus').addEventListener('click', () => {
    if (quantityValue <= 1) {
      quantityValue = 1;
    } else {
      quantityValue--;
    }
    quantityInput.value = quantityValue;
  });
  
  document.querySelector('.quantity-plus').addEventListener('click', () => {
    quantityValue++;
    quantityInput.value = quantityValue;
  });
  
  const addToCart = async(productId)=>{
    try{
      const res = await axios({
        method : 'POST',
        url : `/addToCart`,
        data : {
          quantity: ``
        }
      })
      if(res.data.status === "success"){
        Toastify({
          text: res.data.message,
          duration: 3000,
          gravity: "top",
          position: "center",
          style: {
            background: "linear-gradient(to right, #fe6d00, #ffb900)",
          },
        }).showToast();
      }else{
        Toastify({
          text: res.data.message,
          duration: 3000,
          gravity: "top",
          position: "center",
          style: {
            background: "linear-gradient(to right, #fe6d00, #ffb900)",
          },
        }).showToast();
        location.assign('')
      }
    }catch(err){
      console.log(err);
    }
  }
  const addToWishList = async(productId)=>{
    try{
      const res = await axios({
        method: 'GET', url: ``
      })
      if(res.data.status === "success"){
        Toastify({
          text: res.data.message,
          duration: 3000,
          gravity: "top",
          position: "center",
          style: {
            background: "linear-gradient(to right, #fe6d00, #ffb900)",
          },
        }).showToast();
      }else{
        Toastify({
          text: res.data.message,
          duration: 3000,
          gravity: "top",
          position: "center",
          style: {
            background: "linear-gradient(to right, #fe6d00, #ffb900)",
          },
        }).showToast();
        location.assign('')
      }
    }catch(err){
      console.log(err);
    }
  }
  
  document.querySelector('').addEventListener('click', (event)=>{
      event.preventDefault();
      addToCart(event.target.dataset.product);
  });
  
  document.querySelector('').addEventListener('click', (e)=>{
    e.preventDefault();
    addToWishList(e.target.dataset.product);
  });
  
  </script>
   -->



   


<div class="goto-here">


  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 ftco-animate">
          <a href="" class="image-popup">
                      <img src="" id="main_product_image" data-zoom-image='' class="img-fluid" alt="image of dress">
                  </a>
                  
                  <div class="row">
                  <div class='thumbnail_images pt-5 mx-auto'>
                    <ul id='thumbnail' style="list-style: none;">
                      <li class="d-inline-block">
                        <img
              class="product-image"
                          onclick='changeImage(this)'
                          src=''
                          width='50'
                        />
                      </li>
                      <li class="d-inline-block pl-3">
                        <img
            class="product-image"
                          onclick='changeImage(this)'
                          src=''
                          width='50'
                        />
                      </li>
                      <li class="d-inline-block pl-3">
                        <img 
                          onclick='changeImage(this)'
                          src=''
                          width='50'
                        />
                      </li>
                      <li class="d-inline-block pl-3">
                        <img 
            class="product-image"
                          onclick='changeImage(this)'
                          src=''
                          width='50'
                        />
                      </li>
                    </ul>
                  </div>
                  </div>
                
        </div>
              
        <div class="col-lg-6 product-details pl-md-5 ftco-animate">
          <h3></h3>
          <div class="rating d-flex">
            <p class="text-left mr-4">
              <a href="#" class="mr-2">5.0</a>
              <a href="#"><span class="ion-ios-star-outline"></span></a>
              <a href="#"><span class="ion-ios-star-outline"></span></a>
              <a href="#"><span class="ion-ios-star-outline"></span></a>
              <a href="#"><span class="ion-ios-star-outline"></span></a>
              <a href="#"><span class="ion-ios-star-outline"></span></a>
            </p>
            <p class="text-left mr-4">
              <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
            </p>
            <p class="text-left">
              <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
            </p>
          </div>
                      <span class="status">% Discount</span>
                      <div class="d-flex">
              <div class="pricing">
                <p class="price"><span class="mr-2 price-dc" style="text-decoration: line-through;color: rgb(79, 79, 79);">Rs.</span>
              <span class="price-sale">Rs.</span></p>
              </div>
                      </div>
          <p></p>
          <p></p>
          <div class="row mt-4">
            <div class="col-md-6">
              <div class="form-group d-flex">
                <div class="select-wrap">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <select name="" id="" class="form-control">
                    <option value="">Small</option>
                    <option value="">Medium</option>
                    <option value="">Large</option>
                    <option value="">Extra Large</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="w-100"></div>
            <div class="input-group col-md-6 d-flex mb-3">
               <span class="input-group-btn mr-2">
                  <button type="button" class="quantity-minus btn"  data-type="minus" data-field="">
                    <i class="ion-ios-remove"></i>
                  </button>
              </span>
        
        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
               
        <span class="input-group-btn ml-2">
                  <button type="button" class="quantity-plus btn" data-type="plus" data-field="">
                       <i class="ion-ios-add"></i>
                   </button>
               </span>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
              <p style="color: #000;">80 piece available</p>
            </div>
          </div>
            <p class="pt-4 py-3"><a class="add-to-wishlist btn btn-black py-3 text-white px-5" data-product="">Add to Wishlist <span class="icon-heart ml-2"></span></a></p>
    <div class="d-flex">
            <p><a class="add-to-cart btn btn-black py-3 text-white px-5" data-product="">Add to Cart <span class="ion-ios-add ml-2"></span></a></p>
      <p><a href="/addToWishList/" class="btn btn-black py-3 text-white px-5 ml-3">Buy Now <span class="icon-shopping_cart ml-2"></span></a></p>
    </div>
        </div>
      </div>
    </div>
  </section>



</div>



<script>

  function changeImage(element) {
      var main_prodcut_image = document.getElementById('main_product_image');
      main_prodcut_image.src = element.src;
      $("#main_product_image").data('zoom-image', element.src).elevateZoom({
         responsive: true
      });
  }
  $("#main_product_image").elevateZoom({
      responsive: true
  });


</script>

<script>

//plus and minus quantity
const quantityInput = document.getElementById('quantity');
let quantityValue = parseInt(quantityInput.value);

quantityInput.addEventListener('input', (event) => {
  quantityValue = event.target.value;
});

document.querySelector('.quantity-minus').addEventListener('click', () => {
  if (quantityValue <= 1) {
    quantityValue = 1;
  } else {
    quantityValue--;
  }
  quantityInput.value = quantityValue;
});

document.querySelector('.quantity-plus').addEventListener('click', () => {
  quantityValue++;
  quantityInput.value = quantityValue;
});

const addToCart = async(productId)=>{
  try{
    const res = await axios({
      method : 'POST',
      url : `/addToCart/`,
      data : {
        quantity: ``
      }
    })
    if(res.data.status === "success"){
      Toastify({
        text: res.data.message,
        duration: 3000,
        gravity: "top",
        position: "center",
        style: {
          background: "linear-gradient(to right, #fe6d00, #ffb900)",
        },
      }).showToast();
    }else{
      Toastify({
        text: res.data.message,
        duration: 3000,
        gravity: "top",
        position: "center",
        style: {
          background: "linear-gradient(to right, #fe6d00, #ffb900)",
        },
      }).showToast();
      location.assign('/login')
    }
  }catch(err){
    console.log(err);
  }
}
const addToWishList = async(productId)=>{
  try{
    const res = await axios({
      method: 'GET', url: `/addToWishList/`
    })
    if(res.data.status === "success"){
      Toastify({
        text: res.data.message,
        duration: 3000,
        gravity: "top",
        position: "center",
        style: {
          background: "linear-gradient(to right, #fe6d00, #ffb900)",
        },
      }).showToast();
    }else{
      Toastify({
        text: res.data.message,
        duration: 3000,
        gravity: "top",
        position: "center",
        style: {
          background: "linear-gradient(to right, #fe6d00, #ffb900)",
        },
      }).showToast();
      location.assign('/login')
    }
  }catch(err){
    console.log(err);
  }
}

document.querySelector('.add-to-cart').addEventListener('click', (event)=>{
    event.preventDefault();
    addToCart(event.target.dataset.product);
});

document.querySelector('.add-to-wishlist').addEventListener('click', (e)=>{
  e.preventDefault();
  addToWishList(e.target.dataset.product);
});

</script>